i.icon {
 font-size: 2em;
}

.container.main {
 margin-top: 7.0em;
}

#delete{
 display: inline;
}

/* 
.border-1x {
 border: 1px solid rgba(0, 0, 0, .1);
 border-radius: 0.3em;
 padding-top: 1.0em;
 padding-bottom: 1.0em;
} */